<?xml version="1.0" encoding="UTF-8"?>
<plugin name="Auxiliary Ship Bay">
    <author>ThrosturX</author>
    <version>0.11</version>
    <compatibility>0\.(10|11)\..*</compatibility>
    <priority>1</priority>
    <description>Adds a new outfit, the Auxiliary Ship Bay, which allows the user to go for a joyride in a small cargo shuttle.</description>
</plugin>
